@import "../../app.scss";
.navbar {
   height: 60px;
   padding: 0 0 0 25px;
   background-color: rgba(210, 210, 210, 0.894);

   .navContainer {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .middle {
         @include mobile {
            display: none;
         }
         display: flex;
         align-items: center;
         height: 100%;
         flex: 2;

         input {
            height: 60%;
            width: 80%;
            border: none;
            padding-inline: 8px;
            background-color: rgb(234, 233, 233);
            border-radius: 10px;
            &:focus {
               outline: none !important;
               border: 1px solid rgb(0, 34, 255);
               box-shadow: 0 0 10px #719ece;
            }
         }

         .navIcon {
            font-size: 30px;
            margin-left: 4px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: lightseagreen;
            cursor: pointer;
         }
      }
      .left {
         flex: 1;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         font-size: 25px;
         cursor: pointer;
      }
      .right {
         flex: 1;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 30px;

         @include mobile {
            gap: 10px;
         }

         .profile {
            width: 30px;
            height: 30px;
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;
         }

         button {
            @include mobile {
               padding: 5px;
            }
            padding: 8px 12px;
            border: none;
            background-color: lightseagreen;
            color: white;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
               background-color: rgb(39, 156, 150);
               box-shadow: 2px 2px 6px rgb(164, 164, 164);
            }
         }
      }
   }
}
